@use "../../styles/variables";

.header {
  padding: variables.$padding-lg;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo-container {
    position: relative;
    height: 30px;
    width: 200px;
  }

  &__button-container {
    display: flex;
    gap: variables.$padding-md;
  }
}

@media (max-width: 700px) {
  .header {
    padding: variables.$padding-md;

    &__logo-container {
      height: 25px;
      width: 150px;
    }

    &__button-container > :nth-child(1) {
      display: none;
    }
  }
}
