@use "../../styles/variables";

.button {
  font-weight: 500;
  width: 7rem;
  padding: variables.$padding-xs variables.$padding-lg;
  border-radius: variables.$border-radius;
  cursor: pointer;

  &--primary {
    color: #fff;
    background-color: variables.$primary-color;
    border: 2px solid variables.$primary-color;
  }

  &--secondary {
    color: variables.$primary-color;
    background-color: #fff;
    border: 2px solid variables.$primary-color;
  }
}
