.button-primary {
  background-color: var(--color-primary);
  color: white;
}

.button-primary:hover {
  background-color: color-mix(in oklch, var(--color-primary) 80%, white);
}

.button-secondary {
  background-color: white;
  color: var(--color-primary);
}

.button-secondary:hover {
  background-color: color-mix(in oklch, white 80%, var(--color-primary));
}
