@import "tailwindcss";

@font-face {
  font-family: "Jost";
  src: url("/fonts/Jost-VariableFont_wght.ttf") format("truetype");
}

html,
body {
  height: 100%;
}

html {
  font-family: "Jost", sans-serif;
}

body {
  color: #0f172a;
  background: linear-gradient(240deg, #ddd, #eee);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
