@use "../styles/variables";

.home-page {
  min-height: 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    color: variables.$primary-color;
    font-size: clamp(2rem, 10vw, 5rem);
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
  }

  &__sub-title {
    text-align: center;
    font-size: clamp(1rem, 1.4vw, 2rem);
    font-weight: 300;
    margin: 1rem 3rem 3rem;
  }
}
