// Colors
$text-color: #0f172a;
$primary-color: #00bdc7;
$secondary-color: #faaa6d;
$success-color: #6ed08f;
$warning-color: #f3d46e;
$error-color: #ff8888;

// Paddings
$padding-xs: 0.25rem;
$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 1.5rem;
$padding-xl: 2rem;
